
.img-about {
    display: flex;
    justify-content: center;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
    
}

.page-container {
    display: flex;
    justify-content: center;

    .content-wrapper {
        width: 80vw;

        #soironic {
            width: 350px;
            margin: 22px 20px 0px 2px;
            float: left;

            p {
                letter-spacing: 1px;
                line-height: 30px;
            }
        }
    }
}
.squares-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;

    .squares {
        width: 80vw;

        .square {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: -4px;

            .img-wrapper {
                img {
                    width: 40vw;
                    height: 30vw;
                    object-fit: cover;
                }
            }
            .square-text-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 42px;

                h1 {
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 48em) {
    .about-wrapper {
        display: flex;
        flex-direction: column;

        .img-about img {
            margin-top: 100px;
            display: flex;
            width: 90vw;
        }
        .page-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100vw;

            .content-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 80vw;
                text-align: center;

                #soironic {
                    margin-left: 30px;
                    width: 90vw;
                }
            }
        }
    }
    .squares-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .squares {
            width: 100px;

            .square {
                display: flex;
                flex-direction: column;
                margin-left: 20;

                .square-text-wrapper {
                    width: 300px;
                    margin-left: -90px;
                    padding: 0px;

                    h1 {
                        margin: 10px;
                    }
                }

                .img-wrapper img {
                    width: 300px;
                    height: 200px;
                    display: flex;
                    margin-left: -100px;
                }
            }
        }
    }

}