.h1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 450px;
    font-size: 70px;
}

@media(max-width: 48em) {
    .h1-wrapper {
        font-size: 30px;
        margin-top: 150px;
        margin-bottom: 200px;
    }
}