html {
    font-family: 'Wallpoet', cursive;
}

body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 10;

    div {
        display: none;
    }

    .toggle .brand {
        display: inline-block;
    }


    a {
        display: block;
        text-align: center;
        padding: 1em;
        text-decoration: none;
        background:black;
        color: #2490db;

        &:hover,
        &:active {
            color: black;
            background: #2490db;
        }
    }

    .brand {
        width: 10em;
        text-align: center;
        padding: 1em;
        color: white;
    }

    a {
        text-decoration: none;
    }

    .toggle {
        padding: 1em;
        color: #2490db;
    }
}


@media (min-width: 48em) {
    .navbar {
        display: flex;
    }
    .navbar .left,
    .navbar .right-navbar {
        display: flex;
        flex: 1;
    }
    .navbar .nav-link-active {
        width: auto;
    }
    .navbar .right-navbar {
        justify-content: flex-end;
    }
}
@media (min-width: 48em) {
    .navbar div {
        display: flex;
    }
}
@media (max-width: 48em) {
    .navbar div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 48em) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar.active .toggle {
        background: black;
        color: white;
    }
    .navbar .brand {
        display: none;
        width: 20%;
        text-align: left;
        overflow: hidden;
    }

}